.jogWrapper {
    min-width: 240px;
    min-height: 120px;
    display: flex;
    align-items: flex-start;
    margin: 40px;
}

.jogWrapper img{
    margin-right: 60px;
}

.jogInfo {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.jogInfo span {
    font-weight: 500;
    font-size: 14px;
}

.propsData {
    font-size: 14px;
    color: #979797;
    font-weight: 500;
}

@media screen and (max-width: 1000px){
    .jogWrapper{
        width: 100%;
        border-bottom: 1px solid #979797;
        justify-content: center;
    }
}
