.jogIsMissingWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 425px;
}

.errorMessageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 222px;
}

.errorMessageWrapper span {
    font-size: 24px;
    line-height: 1.21;
    color: #b0b0b0;
}

.createJogBtn {
    width: 249px;
    height: 60px;
    padding: 20px 33px 19px 34px;
    box-sizing: border-box;
    background: transparent;
    border-radius: 36px;
    border: solid 3px #e990f9;
}

.createJogBtn span {
    color: #e990f9;
    font-size: 18px;
    font-weight: bold;
}