.appHeader {
    width: 100%;
    height: 116px;
    background-color: #7ed321;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.invisibleHeader{
    visibility: hidden;
}

.logo img {
    width: 147px;
    height: 56px;
    padding: 0 1.3px 0 0;
    object-fit: contain;
}

.navBlock {
    display: flex;
    min-width: 20%;
    justify-content: space-between;
    align-items: center;
}

.navBlock h2 {
    font-size: 14px;
    text-transform: uppercase;
    color: white;
}

.link {
    text-decoration: none;
}

.activeLink {
    position: relative;
    text-decoration: none;
}

.activeLink::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background: white;
    top: 70%;
}

.navBlock img {
    width: 26px;
    height: 26px;
}

.link {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1000px){
    .navBlock{
        min-width: 100px;
    }
}