.App {
    font-family: Roboto, Helvetica, sans-serif;
}

.mainContent {
    width: 100%;
    min-height: 85vh;
    display: flex;
    justify-content: center;
}

.authWrapper {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}